:root {
    --white: #f7f7f7;
    --grey: #878375bb;
    --black: #625E52;
    --dark: #C6BDA7;
    --medium: #E7E1C9;
    --shallow: #a79d87ad;

    --transition: all 0.2s ease-in-out;

    --gap: 20px;
    --padding: 25px;
    --borderRadius: 15px;
}

@font-face {
    font-family: 'Inter';
    src: url(assets/i.ttf);
}

@font-face {
    font-family: 'Instrument';
    src: url(assets/isr.ttf);
}

@font-face {
    font-family: 'Roboto';
    letter-spacing: -0.8px;
    src: url(assets/rm.ttf);
}

img[src=""] {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    user-select: none;
}

*::-webkit-scrollbar {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

h1 {
    font-family: 'Instrument';
    font-size: 40px;
    text-align: left;
    color: var(--black);
    opacity: 0.75;
    mix-blend-mode: multiply;
}

h2 {
    font-size: 27px;
    font-family: 'Instrument', sans-serif;
    text-align: left;
    color: var(--black);
    opacity: 0.75;
    mix-blend-mode: multiply;
}

h3 {
    font-size: 20px;
    font-family: 'Instrument', sans-serif;
    text-align: left;
    color: var(--black);
    margin-bottom: 4px;
    mix-blend-mode: multiply;
}

h5 {
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    text-align: left;
    color: var(--black);
    font-weight: 500;
}

p {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    text-align: left;
    color: var(--black);
}

textarea {
    width: 100%;
    resize: none;
    height: 81px;
    font-size: 15px;
    font-family: 'Inter';
    padding: 8px;
    background: none;
    border: 1px dashed var(--dark);
    border-radius: var(--borderRadius);
    color: var(--black);
}

textarea::placeholder {
    color: #c5bea4;
}

body {
    background-image: url(assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Inter', sans-serif;
    color: var(--white);
}

#drag {
    app-region: drag;
    position: fixed;
    width: 100%;
    height: 25px;
    top: 0;
    left: 0;
    z-index: 9999;
    pointer-events: none;
}

#window {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

#ripples {
    width: 100%;
    padding: var(--padding);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap);
    overflow: scroll;
    height: 100vh;
    overflow-y: scroll;
    grid-template-rows: 172px;
}

#add {
    width: 100%;
    height: 172.5px;
    border-radius: var(--borderRadius);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: var(--transition);
    background-color: var(--shallow);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px dashed var(--grey);
}

#add h2 {
    font-size: 65px !important;
}

#add:hover {
    transform: scale(1.05);
}

.ripple {
    width: 100%;
    height: 172.5px;
    border-radius: var(--borderRadius);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: var(--transition);
}

.ripple:hover {
    transform: scale(1.05);
}

.ripple .fallback {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--shallow);
}

.ripple .background {
    position: absolute;
    width: 100%;
    height: 100%;
}

.ripple .design {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ripple .design>div {
    width: 100%;
    height: 50%;
    padding: 10px;
}

.ripple .design .bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 15px;
}

.ripple .design .top {
    padding: 0px;
}

.ripple .design .top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.animatedRipple {
    animation: ripple 1.5s 1;
}

.blend {
    width: 100%;
    height: 50%;
    position: absolute;
}

@keyframes ripple {
    from {
        opacity: 0;
        transform: scale(1.15);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

#popups {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
}

.popup {
    position: absolute;
    width: 270px;
    height: 400px;
    z-index: 99999;
    background-color: var(--medium);
    display: none;
    border-radius: var(--borderRadius);
    overflow: scroll;
    box-shadow: 0 0 23px 0px var(--shallow);
    overflow-x: hidden;
}

.dragHeader {
    position: sticky;
    width: 100%;
    height: 25px;
    top: 0;
    left: 0;
    z-index: 999999;
    user-select: none;
    cursor: grab;
}

.dragHeader:active {
    cursor: grabbing;
}

.popup .one {
    gap: 13px;
    display: flex;
    flex-direction: column;
    padding: 14px;
}

.popup .zero {
    height: 135px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--shallow);
    margin-top: -25px;
}

.zero h1 {
    padding-top: 7px;
    padding-left: 15px;
}

.zero img {
    width: calc(100%);
    height: 30px;
    margin-bottom: -2px;
}

#createSelect {
    width: 100%;
    display: flex;
    position: relative;
    background: var(--dark);
    border-radius: var(--borderRadius);
    padding: 5px;
}

.slide {
    width: calc(100% - 10px);
    position: absolute;
    height: calc(50% - 7px);
    background: var(--medium);
    z-index: 0;
    border-radius: var(--borderRadius);
    transition: var(--transition);
    top: 5px;
    left: 5px;
    pointer-events: none;
}

#options {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    z-index: 1;
    gap: 3px;
}

#options h5 {
    width: 100%;
    padding: 4px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

#reflectionText {
    width: 100%;
    background: green;
    border-radius: var(--borderRadius);
    padding: 7px;
}

#reflectionText p {
    white-space: normal;
    font-family: 'Roboto';
    letter-spacing: -0.8px;
}

#details p {
    white-space: normal;
}

#loadingSection {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: -25px;
}

#loadingSection img {
    width: 65px;
    animation: loading 2s infinite linear;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes popupShow {
    from {
        opacity: 0;
        height: 0px;
    }

    to {
        opacity: 1;
        height: 400px;
    }
}

@keyframes popupHide {
    from {
        opacity: 1;
        height: 400px;
    }

    to {
        opacity: 0;
        height: 0px;
    }
}

#buttons {
    width: 100%;
    display: flex;
    gap: 10px;
}

.button {
    margin-top: 10px;
    height: 40px;
    border-radius: var(--borderRadius);
    border: none;
    cursor: pointer;
    font-family: 'Inter';
    font-size: 15px;
    background: var(--dark);
    color: var(--black);
    width: 100%;
    transition: var(--transition);
}

.button:hover {
    filter: brightness(0.9);
}

#createSubmit {
    margin-top: 0px;
}

.margin {
    margin-bottom: 15px;
}

@keyframes simpleHide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes simpleShow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#search {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 270px;
    height: 40px;
    z-index: 999999;
    background-color: var(--medium);
    border-radius: var(--borderRadius);
    box-shadow: 0 0 23px 0px var(--shallow);
    overflow-x: hidden;

    display: none;
}

#searchbar {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    font-size: 15px;
    font-family: 'Inter';
    padding-left: 10px;
    color: var(--black);
}

#searchbar::placeholder {
    color: #c5bea4;
}

@keyframes searchShow {
    from {
        opacity: 0;
        width: 0px;
    }

    to {
        opacity: 1;
        width: 270px;
    }
}

@keyframes searchHide {
    from {
        opacity: 1;
        width: 270px;
    }

    to {
        opacity: 0;
        width: 0px;
    }
}

